@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgba(135, 102, 222, 0.26);
}

.todo {
    width: 476px;
    min-height: 688px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.high-priority, .low-priority {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.input {
    width: 430px;
    height: 40px;
    border: none;
    outline: none;
}

.priority {
    margin: 9px;
}

.add-task {
    border: 1px solid #989898;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    width: 460px;
    height: 45px;
}


.tasks {
    width: 460px;
    min-height: 45px;
}

.border {
    width: 460px;
    min-height: 45px;
    margin-bottom: 8px;
    border-radius: 6px;
    border: 1px solid #989898;
    display: flex;
}


.checkbox {
    width: 21px;
    height: 21px;
    border: 1px solid rgba(153, 136, 153, 1);
    border-radius: 50%;

    visibility: hidden;
    margin-right: 20px;
    margin-top: 0;
    position: relative;
    top: 12px;
    left: 12px;

    &::before {
        visibility: visible;
        content: "";
        display: inline-block;
        width: 21px;
        height: 21px;
        background-image: url("../svg/noChecked.svg");
        margin-right: 12px;
        margin-top: 1px;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;

    }

    &[status="noChecked"]::before{
        background-image: url("../svg/noChecked.svg");
    }
    &[status="checked"]::before{
        background-image: url("../svg/checked.svg");
    }
}


.task-name {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    width: 370px;
    display: flex;
    align-items: center;
    margin: 7px 0 7px;
}


.close-icon {
    background-image: url("../svg/close-icon.svg");
    background-size: 15px 15px;
    height: 15px;
    width: 15px;
    position: relative;
    right: -17px;
    top: 14px;
    cursor: pointer;
}

.add-icon {
    background-image: url("../svg/add-icon.svg");
    background-size: 17px 17px;
    height: 17px;
    width: 17px;
    position: relative;
    right: 6px;
    cursor: pointer;
}